@charset "UTF-8";

body{
    margin: 0%;
}

video {
    width: 100vw;
    object-fit: contain;
}

#videoG {
    width: 100vw;
    height: 600px;
    object-fit: contain;
}

#videoM {
    width: 100vw;
    height: 500px;
    object-fit: contain;
}






