@charset "UTF-8";

body{
    margin: 0%;
}

video {
    display: block;
    position: absolute;
    width: 100vw;
    height: 600px;
    object-fit: cover;
}

@media (min-width: 360px) and (max-width: 768px) {
    video {
        width: 100vw;
        height: 540px;
    }
}